body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #461010;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.stats {
    display: flex;
    gap: 10px;
}

.stats div {
    background-color: #eee;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.order-item,
.lead-item {
    display: flex;
    gap: 58%;
    margin-bottom: 10px;
}

.actions button {
    justify-content: space-between;
}
